@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quicksand&family=Roboto&display=swap');
/* Style global
- sur body, sur les titres
- varibles CSS
- imports de font, ect...
 */
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Quicksand', sans-serif;
  --title-font: 'Comfortaa', cursive;

  --dark: #264653ff;
  --primary: #2a9d8fff;
  --tertiary: #e9c46aff;
  --secondary: #e76f51ff;
  --light: white;

}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--dark);
  font-family: var(--main-font);
}

h1 {
  color: var(--secondary);
  font-family: var(--title-font);
}

h2 {
  color: var(--primary);
  font-family: var(--secondary-font);
}

main {
  width: 80%;
  margin: auto;
}


